<div class="col-md-12">
  <div class="group">

    <span class="pull-right">

      <% if current_user && current_user.is_member_of?(@group) %>
        <label class="label label-success"> 已收藏 </label>
        <%= link_to("取消收藏", quit_group_path(@group),method: :post,class: "btn btn-default")%>
      <% else %>
        <label class="label label-warning"> 未收藏 </label>
        <%= link_to("Join Group", join_group_path(@group),method: :post,class: "btn btn-default")%>
      <% end %>
  </span>

     <%= link_to("写一个影评", new_group_post_path(@group), class: "btn btn-default pull-right")%>

    <% if current_user && current_user == @group.user%>
        <%= link_to("创立", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>

  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>
  <table class="table">
    <thead>
      <tr>
        <th>影评内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <today>
      <% @posts.each do |post| %>
        <tr>
          <th><%= post.content %></th>
          <th><%= post.user.email %></th>
          <th><%= post.created_at %></th>
        </tr>
      <% end %>
    </today>
  </table>
  <div classa="text-center">
    <%= will_paginate @posts %>
  </div>
</div>
